<div class="container item">
    <div *ngIf="pokemon$ | async as pokemon; else loading">
        <div class="row image-div">
            <div class="col-sm-12 col-12 d-flex justify-content-center">
                <img *ngIf="pokemon.img" class="image" [src]="pokemon?.img" [alt]="pokemon?.name">
                <div *ngIf="!pokemon.img" class="square"></div>
            </div>
        </div>
        <div class="row d-flex align-middle">
            <div class="col-lg-8 col-8 col-sm-8">
                <div class="row name">
                    <p>{{ pokemon?.name }}</p>
                </div>
                <div class="row price">
                    <p>${{ pokemon?.price }},00</p>
                </div>
            </div>
            <div class="col-lg-4 col-4 col-sm-4 cart-button">
                <button class="btn btn-link" (click)=add(pokemon)>
                    <i class="fas fa-cart-plus fa-2x text-dark"></i>
                </button>
            </div>
        </div>
        <!-- <div class="row">
            <button (click)=decrement(pokemon)>Remove</button>
        </div> -->
    </div>

    <ng-template #loading>
        <p>Carregando...</p>
    </ng-template>
</div>
