@import '../../../../../styles'

.item
    border: solid $base-color-light 1px
    border-radius: 3px
    margin: 3% 0
    padding: 5%
    
    .image-div
        height: 40vh

        .image
            width: 100%

    .name
        padding-left: 2%
        text-transform: capitalize
        
        p 
            margin-bottom: 0

    .price
        padding-left: 2%
        font-weight: bold

    .cart-button
        height: 100%