<div class="container-fluid h-100">
    <div class="row header justify-content-start">
        <div class="col-lg-2 col-sm-4 das-font">
            <h1>PokeStore</h1>
        </div>
        <div class="col-lg-10 col-sm-8">
            <app-header>
                <h2 class="das-font" title>Fire</h2>
                <app-search search></app-search>
                <i user class="far fa-user"></i>
            </app-header>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 menu">
            <app-menu></app-menu>
        </div>
    </div>

    <div class="row main">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

