@import '../../../../styles'
    
.header
    height: 15vh
    background-color: $base-color1

.menu
    height: 5vh
    background-color: white

.main
    background-color: $base-color-light
    padding: 2% 1%
    height: 80vh