@import '../../../../styles'
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap')

.header
    padding: 2%
    background-color: $base-color2

    .das-font
        font-family: 'Noto Sans JP', sans-serif
        h1
            font-size: 1.4em
        h2
            font-size: 1em
    

.menu
    background-color: white
    padding: 0.5%
    display: block

.main
    background-color: $base-color-light
    padding: 2% 1%
    height: 80vh