/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
@import '~@fortawesome/fontawesome-free/css/all.min.css'
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

$base-color-grass: #41980a
$base-color-electric: #f6bd20
$base-color-fire: #ff0000
$base-color-ice: #1a2653
$base-color-water: #0f5e9c
$base-color-ground: #333333
$base-color-rock: #6b705c
$base-color-dragon: #a9927d
$base-color-psychic: #c9981d
$base-color-bug: #2d4739


$base-color-light: #F1F1F1

html, body 
    height: 100vh
    font-family: 'Roboto', sans-serif