/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
@import '~@fortawesome/fontawesome-free/css/all.min.css'
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

$base-color1: #96ceb4
$base-color2: #ffcc5c
$base-color3: #ff0000
$base-color4: #ced07d
$base-color5: #0e9aa7
$base-color-light: #F1F1F1


html, body 
    height: 100vh
    font-family: 'Roboto', sans-serif