<div class="container">
    <div class="row justify-content-start">
        <div class="col-3 col-sm-3 col-md-2 col-lg-1 d-flex align-items-center">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Lojas</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/store" routerLinkActive="active">Fogo</button>
              <button ngbDropdownItem>Água</button>
              <button ngbDropdownItem>Planta</button>
            </div>
          </div>
        </div>
    
        <div class="col-3 col-sm-3 col-md-2 col-lg-1 d-flex align-items-center">
            <a href="#" class="text-muted">Ofertas</a>
        </div>
    
        <div class="col-3 col-sm-3 col-md-2 col-lg-2 d-flex align-items-center">
            <a href="#" class="text-muted">Dev Área</a>
        </div>
    </div>

</div>